[settings]
experimental = true # So hooks are run.

[tools]
pdm = "2.26.2"
python = "3.14.1"

[hooks]
postinstall = [
    "git config core.hooksPath .githooks",
    "pdm install --plugins",
    "pdm install"
]

[env]
_.python.venv = { path = ".venv", create = true }
